<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Nexus</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><a href="/">URL Nexus</a></h1>
        </div>
        <nav>
          <ul>
            <% if (locals.currentUser) { %>
            <li><a href="/profile">My Dashboard</a></li>
            <li><a href="/discover">Discover</a></li>
            <li><a href="/logout">Logout</a></li>
            <% } %>
          </ul>
        </nav>
      </div>
    </header>
    <main class="container"></main>
  </body>
</html>
